td {
   padding-right: 10px;
   padding-left: 10px;
}

.error {
   color: red;
}

.entire-header {
   background-color: #f5f5f5;

   border-style: hidden hidden solid hidden;
   border-width: 1px;
   border-bottom-color: #2e6da4;
}

footer{
   width: 100%;
   position: fixed;
   bottom: 0;
   padding-left: 10px;
   color: #5e5e5e;
   background-color: #f5f5f5;

   border-top-color: #2e6da4;
   border-width: 1px;
   border-style: solid hidden hidden hidden;
}

body {
   background-image:url('/img/website_background.jpg');
   background-size: cover;
   height: 100vh;

}

.navbar {
   margin-bottom: 5px;
}

.flex-container {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   height: 100%;
}

.flex-container-profile {
   flex-direction: column;
   width: 100%;
}

.flex-container-style {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 20px;
   padding: 20px;
}

.flex-column {
   flex: 1;
   display: inline-block;
   width: 90%;
}

.flex-column-profile {
   flex: 1;
   display: inline-block;
   flex-direction: column;
}

.flex-column-style {
   background: #2474ad;
   margin: 20px;
   border-radius: 30px;
}

.img-tile {
   width: auto;
   max-width: 400px;
   height: 250px;
   object-fit: cover;
   margin: 30px;
   border-radius: 10%;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.text-tile {
   margin: 30px;
   height: auto;
   width: auto;
   background-color: #f2f8fc;
   border-radius: 25px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h1 {
   margin: 10px;
   padding-top: 20px;
   text-align: center;
   font-family: Bahnschrift;
}

h3 {
   font-weight: bold;
   text-align: center;
   padding-top: 10px;
}

.logo-big {
   font-family: Bahnschrift;
   size: A3;
   font-weight: bold;
   text-align: center;
}

.form-container {
   display: flex;
   flex-wrap: wrap;
   text-align: left;
   height: 60vh;
   margin-left: 33%;
   width: 33%;
}

.form-column {
   flex: 1;
   display: inline-block;
   background: #fafcff;
   align-self: center;
   padding: 20px;
   border-radius: 25px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.page-background {
   background-color: #f2f8fc;
   margin-bottom: 50px;
}

.section-header {
   font-weight: bold;
   color: whitesmoke;
}